/* Add this at the end of the existing CSS code */

/* Responsive Styles */
@media only screen and (max-width: 799px) {
    :root {
        --nav-inner-margin: 4rem;
        --nav-logo-width: 3rem;
        --nav--h1-size: 2rem;
        --nav--font-size: 1.2rem;
        --sec-padding: 2rem;
    }

    header main h1 {
        margin-top: 2dvh;
    }

    section#about {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    section#about #about-txt,
    section#about img#about-img {
        width: 100%;
    }

    section#testimonials .slide-container,
    section#services .services-container,
    section#faq .faq-box {
        width: 100%;
    }

    section#testimonials .slide-container .slide-row {
        width: calc(var(--slides-num) * 100%);
    }

    section#testimonials .hero,
    section#testimonials .content,
    section#testimonials .indicator {
        width: 100%;
    }

    section#testimonials .hero img,
    section#faq .question span,
    section#faq .answer span {
        width: 100%;
    }

    section#services .service-bx {
        width: 100%;
    }

    section#services .service-bx::before,
    section#services .service-bx::after {
        width: 100%;
    }
}
