-
    const brandName = "Sam's X Management"
    const description = "Creating Your X Dream"
    const keywords = "X, Management"
    const imgLogo = "https://cdn-cms-s.f-static.net/manager/websites/site123_website/files/logos/brand_files_2020/Icons/Png/Icon_blue.png?v=y83597"
    const heroTitle = "CREATING YOUR X DREAM WITH UNMATCHED<br>TWEETS - THREADS - ADVICE & MORE"

-
    const linksArr = [
        {'Home':'#home'},
        {'About':'#about'},
        {'Testimonials':'#testimonials'},
        {'Services':'#services'},
        {'F.A.Q':'#faq'},
        {'Book a call':'#call'}
    ]

mixin aboutTxt()
    p Hi I'm Sam, I was born on the 21st of June, which is the longest day of the year!#[br]#[br]Personally, I love striving towards being the best version of myself with work ethic, exercise, mindset and all the rest.#[br]#[br]Always being respectful and understanding makes me a great person to be around. At all times I'm approachable, being nervous to talk to me is unheard of.#[br]#[br]Some of my favourite hobbies consist of playing football/soccer, working out and writing.#[br]#[br]You can contact me on X: #[address @Wrotebysam]#[br]#[br]
    p Or via email: #[address @sjtcopywriting2106@gmail.com]

-
    const slides = [
        {
            testimonial: "Sam's talent as a ghostwrite is unparalleled, and his contribution to my project was nothing short of transformative. If you're in search of a skilled wordsmith who can elevate your ideas to new heights, look no further than Sam. Their expertise is truly remarkable, and I wholeheartedly recommend his services to anyone in need of a literary ally.",
            uname: "@Alfred_Smith67",
            image: "1"
        },
        {
            testimonial: "Sams's a great ghostwriter. He delivered my tweets the same day as I requested. On top of that the tweets are really high quality.<br>Definetenly recommend his services to anyone that's looking to grown on X!.",
            uname: "@William_MG30C",
            image: "2"
        },
        {
            testimonial: "Sam provided me with 10 tweets for the week and they were well written. Sam has a powerful and unique way of writing, something I wouldn't have been able to come with myself. He knows how to write engaging content, and is very knowledgeable with words.",
            uname: "@Sarah070Schnider",
            image: "3"
        },
        {
            testimonial: "So I've posten Sam's tweets. I knew they would hit since I saw how well he understood how I write and managed to make it better.The posts got more impressions than what they would usually get on average. Let alone engagement, it DOUBLED.If you are looking for somebody to write your tweets with speed and efficency? Sam is the way to go.",
            uname: "@MaxGT97",
            image: "4"
        },
        {
            testimonial: "Sam's an amazing ghostwriter! He really transformed my project with his unique talent. If you need someone to make your ideas shine, Sam is the one. I highly recommend his services to anyone who needs help with writing",
            uname: "@AnJaj99",
            image: "5"
        },
    ]

-
    const services = [
        {
            title: "Tweets",
            icon: "X",
            txt: "Top quality tweets, proven to <span class='highlight'>grow accounts</span>. These vary all the way from long form to threads. Engagement also included :)",
            clr: "#3a86ff"
        },
        {
            title: "Advice",
            icon: "question",
            txt: "Growth on X can't be achieved with just tweets, which is why I give you the <span class='highlight'>best advice</span> to grow to max potential.",
            clr: "#ff006e"
        },
        {
            title: "Paid Retweets",
            icon: "retweet",
            txt: "I will pay for your tweets to be retweeted by accounts with over <span class='highlight'>1 million followers</span> total in your niche.",
            clr: "#eb5ae5"
        },
        {
            title: "Giveaways",
            icon: "gift",
            txt: "I will write giveaways and supply the <span class='highlight'>prize</span> myself.",
            clr: "#89ec5b"
        },
        {
            title: "Profile Optimisation",
            icon: "rocket",
            txt: "I make sure your profile is crisp and <span class='highlight'>perfect</span> for followers to look at and love.",
            clr: "#fdc500"
        },
        {
            title: "Meetings",
            icon: "board",
            txt: "I will have meetings with you <span class='highlight'>weekly</span> to make sure you're happy. Also, you're free to DM me anytime :)",
            clr: "#e84855"
        },
    ]

-
    const question = "What happens if I don't get my wanted results?"
    const answer = "I will continue working with you for free until you get the results, then you can pay."

//- mixin callDesc()
//-     .call-txt
//-         p Find out if we're a match and kickstart a future of growth and wins 🚀
//-         br
//-         p Calls are through Telegram or Discord, your choice :)
//-         br
//-         p After you order, I will shoot you a message, and we will take it from there 📈
//-     .call-details
//-     //- SVG Icons Instead
//-         p #[span.a Category] #[span.b Business]
//-         p #[span.a Duration] #[span.b 30 Min]
//-         p #[span.a Location] #[span.b Online]
//-         p #[span.a Price] #[span.b Free]
