@keyframes fade-in {
    from {
        opacity: 0;
        //   transform: translateX(50px);
    }
    to {
        opacity: 1;
        //   transform: translateX(0px)
    }
}

@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 15px 15px 50px var(--shadow-color);
    }
    25% { 
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
        box-shadow: -10px -5px 50px var(--shadow-color);
    }
    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
        box-shadow: -10px -5px 50px var(--shadow-color);
    }
    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
        box-shadow: 15px 15px 50px var(--shadow-color);
    }
    100% {
        box-shadow: 15px 15px 50px var(--shadow-color);
    }
}