// NOTE: DOC's
// color shadows -> filter: saturate($dark-saturation);



:root {
    --primary-color: rgb(11, 255, 255);
    --secondary-color: #202337;
    --accent-color: rgb(173, 19, 211);

    --font-color: #fff;
    --bg-color: #0A0B0F;
    --shadow-color: rgba(11, 255, 255, 0.63);
    --shadow-color-2: rgba(173, 19, 211, 0.774);

    // General Colors
    --white-color:#fff;
    --gray-color: #9b9b9b;
    --black-color:#000;
    --transparent-bg-color: #02020217;
    --clr-overlay:rgba(0, 0, 0, 0.5);

    --debug-border-color: rgb(218, 26, 26);
}

// [data-theme="light"] {
//     --font-color: #fff;
//     --bg-color: #0A0B0F;
//     --shadow-color: #ddd9d9;

//     --font-color: #0A0B0F;
//     --bg-color: #fff;
//     --shadow-color: #202122;
// }
