// - FIXED
* {margin:0;padding:0;box-sizing:border-box;}
:root {scroll-behavior: smooth;font-size: 62.5%;}
::selection {color: var(--bg-color);background-color: var(--primary-color);}
ol, ul {list-style: none;}
@supports (scrollbar-color: var(--primary-color) var(--bg-color)) {
    * {scrollbar-color: var(--primary-color) var(--bg-color);}
}
.debug body {
    overflow: visible;
    * {outline: 1px solid var(--debug-border-color);}
}
img {
    max-width: 100%;object-fit: contain;
    &.circle {border-radius: 50%;height: 100%;}
}



// - Changeable

a, button {
    all: unset;
    cursor: pointer;
    transition: all $transition-duration ease-in-out;  // CHANGE_ME
    &:hover{filter: saturate($dark-saturation);}  // CHANGE_ME
}
a {color: var(--primary-color);}  // CHANGE_ME
button {  // CHANGE_ME
    background: var(--primary-color);
    color: var(--bg-color);
    padding: 1rem 1.6rem;
    border-radius: $border-radius-btn;
}